.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inventory {
  display: flex;
  flex-direction: row; /* change this to row instead of 'column' */
  flex-wrap:wrap; /* added flex-wrap */
}

.item {
  padding: 14px;
  box-sizing: border-box;
  margin: 12px;
  width:100%;
}

.item:nth-child(1){
    width:calc(50% - 24px);
}

.item:nth-child(2){
    width:calc(25% - 24px);
}

.item:nth-child(3){
  width:calc(25% - 24px);
}

#addSeedsBtn {
  height: 50px;
  margin-top: 30px;
}

#addOrdersBtn {
  height: 50px;
  margin-top: 70px;
 float: right;
  cursor: pointer;
}

.orders {
  display: flex;
  flex-direction: row; /* change this to row instead of 'column' */
  flex-wrap:wrap; /* added flex-wrap */
}